<!--
@blame R. Matt McCann <mccann.matt@gmail.com>
@brief Landing page for the intraweb demo
@copyright &copy; 2017 Evil Corp.
-->
<!DOCTYPE html>
<html>
<head>
    <!-- Cache bust -->
    <!-- Default page title -->
    <title>Nationwide Secure File Access</title>

    <!-- Configure the viewport and other metas -->
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

</head>

<body>
    <app-entry></app-entry>
</body>

</html>
