$side-blue : #496288;
.app {
  width:100%;
  height:100%;
  position:relative;
  font-size:10px;
}

//main div
.track-file__main {
  padding: 100px 500px 100px 50px;
  width:100%;
  height:100%;
  background-color:lighten($side-blue, 30%);
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3);
}

.google__maps {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  box-sizing:border-box;
}

agm-map {
  height: 100%;
}

//side div --informational
.track-file__side {
  color:#ccc;
  position:absolute;
  top:0;
  right:0;
  box-sizing:border-box;
  padding-bottom:100px;
  right:0;
  width:25%;
  min-width:175px;
  max-width:400px;
  height:100%;
  overflow-y:scroll;
  background-color:$side-blue;
  border-left:1px solid darken($side-blue, 20%);

  a {
    color:#ececec;
    text-decoration:underline;

    &:hover {
      color:#FFF;
    }
  }



  h1 {
    text-align:center;
    padding:15px;
    position:relative;
    z-index:5;
    box-shadow:0px 1px 2px darken($side-blue, 12%);
    border-bottom:1px solid lighten($side-blue, 10%);
    color:#FFF;
    margin:0 auto;
  }
}

.track-file__side__top {
  padding:20px;
  //background-image:linear-gradient(to bottom, darken($side-blue, 12%), darken($side-blue, 6%), darken($side-blue, 12%));
  background-color:darken($side-blue, 10%);

}
.track-file__img {
  box-sizing: border-box;
  position:relative;
  background-color:lighten($side-blue, 20%);
  overflow:hidden;
  border-radius:8px;
  border:1px solid lighten($side-blue, 20%);
  width:40%;
  margin:10px auto;
  padding:20px;

  img {width:100%;}

  //add locked class to it
  .track-file__img__lock-overlay {
    display:none;
    height:100%;
    width:100%;
    padding:25px 0;
    left:0;
    top:0;
    background-color:rgba(0,0,0,0.3);
    text-align:center;
    text-shadow:1px 1px 2px rgba(0,0,0,0.3);
    animation: fadeIn 200ms ease-in-out;
  }
  &.locked {
    .track-file__img__lock-overlay {
      display:block;
      color:#fff;
      position:absolute;
      font-size:65px;

      span {
        animation: slideDown 200ms ease-in-out;
        position: relative;
      }
    }
  }
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:1}
}

@keyframes slideDown {
  0% {top:-10px;}
  100% {top:0}
}


.track-file__side__lock-toggle  {
  width:65%;
  margin:20px auto;
  display:flex;
  align-items:center;

  * {text-align:center;}

  span {
    flex:1;
    font-size:30px;
    color:#FFF;
    padding:0px 15px;

    &:first-child {text-align:right;}
    &:last-child {text-align:left;}
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input {display:none;}
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: darken($side-blue, 20%);
    background-color:#82ab82;
    -webkit-transition: 400ms;
    transition: 400ms;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    //background-color: darken($side-blue, 30%);
    background-color:#da7171;
  }

  input:checked + .slider:before {
    left:34px;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}


.track-file__side__info {
  font-size:16px;
  box-shadow:0px -1px 2px darken($side-blue, 12%);
  border-top:1px solid lighten($side-blue, 10%);
}

.info__section {
  border-bottom:1px solid darken($side-blue, 10%);
  padding:10px;


  &>h4 {
    display: inline-block;
    font-weight:600;
    margin:0;
    text-align:right;
    padding-right:.5em;
    width:50%;
    font-size:1em;
    color:#FFF;
  }

  &>span, &>a {
    width:49%;
    padding-left:.5em;
    text-align:left;

  }




}

.track-file__side__history {
  width:95%;
  margin:20px auto;


  table {
    border:2px solid darken($side-blue, 15%);
    border-radius:10px;
    border-spacing:0;
    border-collapse:collapse;
    padding:0;
    width:100%;

    td,th {
      padding:5px 7px;
    }

    .table__head {
      background-color:darken($side-blue, 15%);
      color:#FFF;
      font-weight:500;
      font-size:1.2em;
      text-align:center;
    }

    .table__subhead {
      color:#FFF;
    }

    tr:nth-child(even) {
      td {
        background-color:lighten($side-blue, 5);
      }
    }
  }

}
