<div class="app" *ngIf="file">
  <div class="track-file__main">
    <div class="google__maps">
        <agm-map [styles]="mapStyles" [latitude]="latestLatitude" [longitude]="latestLongitude" [zoom]=19>
          <agm-marker [latitude]="latestLatitude" [longitude]="latestLongitude"></agm-marker>
        </agm-map>
    </div>
    <div class="track-file__side">
      <h1>File Track</h1>
      <div class="track-file__side__top">
        <div class="track-file__img" [ngClass]="{'locked': file.is_locked}">
          <div class="track-file__img__lock-overlay"><span class="fa fa-lock"></span></div>
          <img src="/graphics/word-doc-icon.png" alt="Microsoft Word Doc">
        </div>

        <div class="track-file__side__lock-toggle">
          <span class="fa fa-unlock"></span>
          <label class="switch">
            <input type="checkbox" [checked]="file.is_locked" (click)="toggleFileIsLocked()">
            <span class="slider round"></span>
          </label>
          <span class="fa fa-lock"></span>
        </div>
      </div>


      <div class="track-file__side__info">
        <div class="info__section">
          <h4>File Name:</h4>
          <span>{{file.name}} <span class="fa fa-lg fa-lock" *ngIf="file.is_locked"></span></span>
        </div>
        <div class="info__section">
          <h4>Last Accessed Time:</h4>
          <span>{{lastAccessTime}}</span>
        </div>
        <div class="info__section">
          <h4>Last User:</h4>
          <a href="admin/track_user">{{lastAccessUserName}}</a>
        </div>
        <div class="info__section">
          <h4>Location:</h4>
          <a href="http://maps.google.com/?q={{latestLatitude}},{{latestLongitude}}" target="_blank">Here</a>
        </div>
        <div class="info__section">
          <h4>Context:</h4>
          <span>{{file.context}}</span>
        </div>

        <div class="track-file__side__history">
          <table>
            <tr>
              <th colspan="3" class="table__head">File History</th>
            </tr>
            <tr>
              <th class="table__subhead">Date</th>
              <th class="table__subhead">Name</th>
              <th class="table__subhead">Location</th>
            </tr>
            <tr *ngFor="let fileAccess of fileAccesses">
              <td>{{fileAccess.time}}</td>
              <td>{{fileAccess.user_name}}</td>
              <td><a href="http://maps.google.com/?q={{fileAccess.location_lat}},{{fileAccess.location_lon}}" target="_blank">Here</a></td>
            </tr>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
