$side-blue : #496288;
.app {
  width:100%;
  height:100%;
  position:relative;
  font-size:10px;
}

//main div
.track-user__main {
  padding: 100px 27% 100px 5%;
  width:100%;
  height:100%;
  background-color:lighten($side-blue, 30%);
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3);
}



.track-user__table__title {
  color:#FFF;
  font-weight:700;
  font-size:40px;
  text-align:center;
  margin-bottom:1em;
}

.track-user__table {
  border-radius:4px;
  background:#FFF;
  font-size:16px;


  .approved--true,
  .approved--false,
  .approved--warn {
    text-align:center;
    font-size:20px;
  }
  .approved--true {color:green;}
  .approved--false {color:red;}
  .approved--warn {color:orange;}
}


//side div --informational
.track-user__side {
  color:#ccc;
  position:absolute;
  top:0;
  right:0;
  box-sizing:border-box;
  padding-bottom:100px;
  right:0;
  width:25%;
  min-width:175px;
  max-width:400px;
  height:100%;
  overflow-y:scroll;
  background-color:$side-blue;
  border-left:1px solid darken($side-blue, 20%);

  h1 {
    text-align:center;
    padding:15px;
    position:relative;
    z-index:5;
    box-shadow:0px 1px 2px darken($side-blue, 12%);
    border-bottom:1px solid lighten($side-blue, 10%);
    color:#FFF;
    margin:0 auto;
  }
}

.track-user__img {
  box-sizing: border-box;
  background-color:lighten($side-blue, 20%);
  overflow:hidden;
  border-radius:8px;
  border:1px solid lighten($side-blue, 20%);
  box-shadow:inset 0px 0px 40px rgba(0,0,0,0.2);
  width:50%;
  margin:10px auto;


  img {width:100%;}

  //add locked class to it

}

.track-user__side__lock-toggle  {
  width:65%;
  margin:20px auto;
  display:flex;
  align-items:center;

  * {text-align:center;}

  span {
    flex:1;
    font-size:30px;
    color:#FFF;
    padding:0px 15px;

    &:first-child {text-align:right;}
    &:last-child {text-align:left;}
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input {display:none;}
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: darken($side-blue, 20%);
    background-color:#82ab82;
    -webkit-transition: 400ms;
    transition: 400ms;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    //background-color: darken($side-blue, 30%);
    background-color:#da7171;
  }

  input:checked + .slider:before {
    left:34px;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
.track-user__side__top {
  padding:20px;
  //background-image:linear-gradient(to bottom, darken($side-blue, 12%), darken($side-blue, 6%), darken($side-blue, 12%));
  background-color:darken($side-blue, 10%);

}

.track-user__info {
  font-size:16px;

  .user-name {
    font-size:24px;
    font-weight:bold;
    padding:10px 30px;
    text-align:center;
  }
}

$error-red: #c15656;
.track-user__explanation {
  border:5px solid $error-red;
  border-radius:4px;
  padding:20px;
  margin:10px auto;
  width:85%;
  display:flex;
  align-items:center;


  .track-user__explanation__icon {
    color:darken($error-red,5%);
    font-size:40px;
    flex:1;
  }

  .track-user__explanation__text {
    font-size:16px;
    padding:0 .5em;
    flex:7;
  }
}
