<div class="app" *ngIf="user">
  <div class="track-user__main">
    <h1 class="track-user__table__title">Document History</h1>

    <table class="track-user__table table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>File</th>
          <th>Location</th>
          <th>Context</th>
          <th>Action</th>
          <th class="text-center">Approved</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileAccess of fileAccesses">
          <td>{{fileAccess.time}}</td>
          <td>{{fileAccess.file_name}}</td>
          <td>Here</td>
          <td>{{fileAccess.context}}</td>
          <td>{{fileAccess.action}}</td>
          <td class="approved--true" *ngIf="fileAccess.was_permitted && !fileAccess.warning"><span class="fa fa-check"></span></td>
          <td class="approved--false" *ngIf="!fileAccess.was_permitted && !fileAccess.warning"><span class="fa fa-times"></span></td>
          <td class="approved--warn" *ngIf="fileAccess.warning"><span class="fa fa-exclamation-circle"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="track-user__side">
      <h1>User Track</h1>
      <div class="track-user__side__top">
        <div class="track-user__img">
          <img src="/graphics/generic-avatar.jpg" alt="[userName]" />
        </div>

        <div class="track-user__info">
          <h2 class="user-name">{{user.name}}</h2>
        </div>
      </div>

      <div class="track-user__side__lock-toggle">
        <span class="fa fa-unlock"></span>
        <label class="switch">
          <input type="checkbox" [checked]="user.is_locked" (click)="toggleUserIsLocked()">
          <span class="slider round"></span>
        </label>
        <span class="fa fa-lock"></span>
      </div>

      <div class="track-user__explanation" *ngIf="user.was_autolocked">
        <div class="track-user__explanation__icon">
          <span class="fa fa-exclamation-circle"></span>
        </div>
        <div class="track-user__explanation__text">
          Account has been autolocked due to suspicious behavior.
        </div>
      </div>
    </div>
</div>
