@import "../sass/imports";

form {
    padding:10px 5px;
    box-sizing:border-box;
}

.success-wrap {
    text-align:center;

    .success-icon {
        font-size:100px;

    }

    .success-text {
        font-size:26px;

        line-height:140%;

        h2 {
            font-size:30px;
            font-weight:bold;
            text-shadow:0px 1px rgba(0,0,0,0.3);
            margin:10px;
            padding-bottom:10px;

            &:after{
                content:"";
                width:25px;
                height:2px;
                position:absolute;
                bottom:10px;

            }
        }

    }
}

.form-group {
    display:block;
    margin-bottom:18px;
    position:relative;
    box-shadow:none;
    border-radius:3px;
    @extend .clearfix;
    border-radius:3px;
    //background:#FFF;
    font-size:18px;


    &.has-error {
        background:$input-error-red;
        border-bottom:1px solid darken($input-error-red, 30%);

        input.form-control+label {
            color:darken($input-error-red, 30%);
        }
    }

    input.form-control {
        display:block;
        width:100%;
        box-sizing:border-box;
        box-shadow:none;
        border-radius:0px;
        position:relative;
        font-size:18px;
        //z-index:10;
        height: 50px;
        padding:20px 50px 0px 10px;
        background:none;
        outline:none;
        border:none;
        border-bottom:1px solid $hd-lt-blue;
        @include transition(300ms all);

        &+label {
            position:absolute;
            top:10px;
            left:0;
            width:100%;
            font-weight:normal;
            box-sizing:border-box;
            padding:5px 8px;
            @include transition(all 300ms);
            color:darken($hd-lt-gray, 15%);
            height: 50px;
        }

        &:focus+label,
        &+label.shrink {
            top:0px;
            padding:2px 8px;
            //color:darken($hd-blue, 20%);
            font-size:15px;
            //color:#FFF;
        }




    }

    .status-icons {
        position:absolute;
        font-size:26px;
        top:15px;
        right:10px;

        .valid {color:$lime;}
        .invalid {color:red;}
    }

    .help-block {
        //margin:5px 0px;
        padding:0px 10px;
        margin:0;
        position:absolute;
        top:100%;
        color:darken($input-error-red, 20%);
        font-size:12px;
        font-style:italic;
    }


}

.failed {
    color:darken($input-error-red, 20%);
    text-align:center;
}

.submit-btn {
    margin:10px auto;
    width:95%; max-width:300px;
    cursor:pointer;
    text-transform:uppercase;
    font-weight:bold;
    font-size:22px;
    color:#FFF;
    padding:8px 20px;
    border:0px;
    outline:0;
    //box-shadow:1px 2px rgba(0,0,0,0.2);
    background: desaturate($lime, 15%);

    &:hover{background:$lime;}
}
