<!--
@blame R. Matt McCann <mccann.matt@gmail.com>
@brief Template code for the Portal component
@copyright &copy; 2017 Evil Corp.
-->
<div class="container" *ngIf="_showContents">
    <h1 style="padding-bottom: 100px">Acme Corporation - Vendor Portal</h1>

    <div class="row">
        <div class="col-xs-3">
            <a href="/portal">Vendor Codes</a><br />
            <a href="/portal">Designs & Schematics</a><br />
            <a href="/portal">Change Request Forms</a><br />
            <a href="/portal">OTA Updates</a>
        </div>
        <div class="col-xs-6 offset-xs-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus ante a feugiat posuere. Nullam ut molestie enim, sit amet laoreet turpis. Duis in ipsum eget mauris vehicula ullamcorper. Donec dapibus laoreet varius. In imperdiet, orci non posuere venenatis, nisi risus posuere urna, ac ultricies tellus diam quis diam. Etiam vulputate lacus vehicula, ultricies tellus at, euismod neque. Morbi ut volutpat velit, ac dictum tortor. Donec porttitor libero id faucibus dignissim. Suspendisse accumsan iaculis orci, eu placerat augue facilisis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus faucibus vel odio at cursus. Nullam vestibulum id elit sit amet aliquam. Suspendisse feugiat arcu sed tristique sagittis.
            </p>

            <p>
                Duis ut consectetur libero. Nunc sit amet pretium eros, et aliquet nisi. Duis bibendum mattis sodales. Mauris scelerisque posuere lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis elit sit amet eros efficitur semper. Nulla efficitur eu odio et faucibus. Morbi a elementum lorem. Sed ut mi auctor, sollicitudin risus a, blandit mi. Morbi dui est, placerat eu dolor sed, eleifend lobortis elit.
            </p>

            <p>
                Aliquam et nisi diam. Mauris et massa euismod, placerat mi quis, egestas nisi. Mauris et tellus nulla. In orci nunc, gravida id mollis sed, vehicula sed lacus. Nullam ex tellus, porttitor vitae nisi non, sodales molestie risus. Pellentesque tincidunt scelerisque nibh a viverra. Nulla non placerat dui. Vivamus rhoncus dui sagittis massa lacinia ornare.
            </p>

            <p>
                Fusce a dapibus nibh, vel porttitor metus. Sed quam justo, condimentum eu tempor ac, condimentum quis odio. Morbi interdum ipsum a quam laoreet, eget bibendum odio suscipit. Mauris rutrum ligula vel nulla malesuada, sit amet interdum diam convallis. Nulla quis augue enim. Sed vulputate dui ut leo suscipit, nec tempus dui sagittis. Pellentesque maximus velit ullamcorper mi bibendum, molestie ullamcorper diam venenatis. Phasellus pulvinar libero at dapibus rutrum. Proin augue lectus, vulputate interdum nulla vel, faucibus congue mi. Suspendisse at commodo lacus, ac tempus nulla. Duis ut gravida massa. Etiam nisl metus, fermentum vel aliquam vel, euismod at dolor. Vestibulum varius dignissim purus at ultrices.
            </p>

            <p>
                Morbi eleifend, libero ac vehicula pulvinar, arcu nibh vulputate odio, non placerat nisi libero in est. Proin at euismod urna, a eleifend leo. Ut gravida, dui sit amet pretium tincidunt, ante turpis laoreet odio, eget pretium purus elit at libero. Nunc et sollicitudin metus. Phasellus et nibh diam. Aliquam ultrices vel metus nec sollicitudin. Mauris augue urna, auctor accumsan urna id, rhoncus pretium arcu.
            </p>
        </div>
    </div>
</div>